*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --primary-color: rgb(132, 17, 209);
  --text-color: #333;
  font-family: "Poppins", sans-serif;
}
body{
  background-color: #f5f5f5;
}
.player {
  max-width: 480px;
  margin: 0 auto;
  position: relative;
}


.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.dashboard{
  background-color: #fff;
  position: fixed;
  top: 0;
  max-width: 480px;
  width: 100%;
  padding: 16px 16px 14px;
  border-bottom: 1px solid  #ebebeb;
}


header{
  text-align: center;
  margin-bottom: 10px;
}

header >h4{
  color: var(--primary-color);
  font-style: 12px;
}
/*CD*/




.cd {
  width: 200px;
  margin:  auto; /*căn giữa đều 4 cạnh*/
  
}
.cd-thumb{
  border-radius: 50%;
  padding-top: 100%;
  width: 100%;
  background-size:cover;
}

/*Control*/

.control {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* margin: 9px 0px; */
  padding: 18px 0 8px 0;

}
.control .btn {
  color: #666;
  padding: 18px;
  font-size: 18px;
}
.control .active{
  color: var(--primary-color);

}
/* .control .btn:active{
  color: red;
} */
.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

/*Proress*/
.progress {
  width: 100%;
  -webkit-appearance: none;/*dungf de bỏ dongf ca outline   */
  
  height: 6px;
  background-color: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; /*tròn giúp chuyển thành hình chữ nhật*/
  width: 12px; 
  height: 6px;
  background-color: var(--primary-color);
  cursor: pointer;
}

.playList {
  margin-top: 407px;
  padding: 12px;
  /* display: flex;
  flex-direction: column;
  justify-content: center; */
}

.song{
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 12px;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 5px;
  padding: 8px 16px;
  box-shadow: 0px 2px 3px rgba(75, 161, 157, 0.265); /*right , bottom , blur, màu */
}

.song.active {
  background-color: var(--primary-color);
}

.song:active {
  opacity: 0.8;
}

.song.active .option,
.song.active .author,
.song.active .title {
  color: #fff;
}
.song .thumb{

  width: 44px;
  height: 44px;
  border-radius: 999px;
  background-size: cover;
}

.song .body{
  flex:1;
  padding: 0 16px;
}
.song .title {
  font-size: 18px;
  color: var(--text-color);
}

.song .author {
  font-size: 12px;
  color: #999;
}

.song .option {
  padding: 16px 8px;
  color: #999;
  font-size: 18px;
}
